/* 全局按钮样式 */
.button {
    -fx-background-color: #4c87af;  /* 按钮颜色（绿色） */
    -fx-text-fill: white;           /* 文字颜色 */
    -fx-font-size: 14px;            /* 字体大小 */
    -fx-background-radius: 5px;     /* 圆角 */
    -fx-border-radius: 5px;         /* 边框圆角 */
    -fx-padding: 8px 15px;          /* 内边距 */
    -fx-border-color: transparent;  /* 默认无边框 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 1);
}

/* 鼠标悬浮效果 */
.button:hover {
    -fx-background-color: #6191af;
}

/* 按下按钮的效果 */
.button:pressed {
    -fx-background-color: #367cb6;
}

/*!* 禁用窗口背景色 *!*/
/*.root {*/
/*    -fx-background-color: #ffffff;*/
/*}*/
